.InputeBase {
  padding-top: 1%;
  padding-left: 1%;
  padding-bottom: 0.5%;
  display: flex;
}
/* .App_Card{
   
} */
.InputeBase2 {
  height: 4%;
  width: 90%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 2%;
}
.Serach_Card {
  width: 70%;
  height: 4%;
}
/* .serach_card1{
    height: 20%;
} */
.Serach_Icon {
  padding-left: 1%;
}
.sideIcons {
  display: flex;
  width: 5%;
}
.RefreshIcon {
  padding-left: 29%;
  padding-top: 8%;
}
.lastIcon {
  padding-left: 15%;
  /* padding-top: 18%; */
  display: flex;
}
.menuIcon {
  padding-top: 0%;
  padding-right: 1%;
}
.images {
  height: 2%;
}
.name {
  padding-top: 7.5px;
  padding-right: 6%;
  padding-left: 1%;
  color: dimgrey;
}

/* Sidenav css */

.Drawer {
  /* width: 20%;
   margin: 20%;
   padding-right: 20%; */
  height: 100%;
  background: white;
  box-shadow: -2px 0px 1px;
  position: relative;
  top: 0;
  left: 0;
  width: 197px;
  margin-top: 69px;
}

.swipeableDrawer {
  width: 20%;
}

.note_sidenav {
  width: 100%;
  display: flex;
  padding-top: 11%;
}
.Name_Side {
  padding-left: 20%;
  padding-top: 3%;
}
.IconSide {
  padding-left: 10%;
}
