.creatcontainereNote- {
  margin-top: 101px;
  display: flex;
  margin-left: 400px;
}

.colorflex {
  display: flex;
}

.search_input {
  margin-left: -41px;
  margin-top: 2px;
}
.search_icon {
  margin-left: 34px;
  padding-top: -16px;
  margin-top: -8.5px;
}
.search-align {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.shift-true {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  transition: 0.15s;
}
#card_decorapp {
  width: 700px;
  height: 50px;
  border-radius: 12px;
  margin-left: -19%;
  margin-top: 7px;
  background-color: #fafafa;
}
.shift-false {
  display: flex;
  margin-left: 11%;
  flex-direction: column;
  transition: 0.15s;
}
.note-button {
  /* width: "50%"; */
  height: fit-content;
  display: flex;
  justify-content: center;
}

.create_note {
  height: auto;
}
.others_heading {
  margin-top: 5%;
  display: flex;
  justify-content: end;
  margin-left: 82px;
  font-size: 100%;
  font-weight: lighter;
  font-family: inherit;
  font-size: 20px;
  color: grey;
}
.pin_heading {
  margin-top: 5%;
  display: flex;
  justify-content: end;
  margin-left: 82px;
  font-size: 100%;
  font-weight: lighter;
  font-family: inherit;
  font-size: 20px;
  color: grey;
}

.pin_notes {
  height: auto;
  display: flex;
  flex-wrap: wrap;

  margin-left: 40px;
}
.get_notes {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
}
/* .notes_align {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
} */
#note-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 9px;
  margin-bottom: 3px;
  margin-top: -13px;
}
#tooltip-style {
  margin: 5px;
}
#pin-inputbase {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
}
#pin-inputbase-getnotes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 21px;
}
#card_decor2 {
  width: 280px;
  margin: 0px 0px 0px 0px;
  height: fit-content;
  margin: 2%;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#close_button {
  display: flex;
  flex-direction: row;
  margin-left: 54%;
  margin-top: -2%;
}
#inputbase-search {
  font-weight: bold;
  color: #616161;
  padding-left: 11px;
  padding-top: 14px;
  font-size: 18px;
}
.inputbase_appbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.inputbase_div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#card_decor3 {
  width: fit-content;
  margin: 0px 0px 0px 0px;
  height: fit-content;
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#card_decor1 {
  width: 600px;
  margin: 0px 0px 0px 0px;
  height: 50px;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#card_decor4 {
  width: 600px;
  margin: 0px 0px 0px 0px;
  height: fit-content;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* #card_decordialog {
 
} */
/* .pin_getnotes {
  margin-left: 0px;
  padding-left: 1px;
  margin-right: -43px;
  margin-top: -6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
} */
.menu_getnotes {
  padding-left: 52px;
  margin-right: -49px;
}

/* .close_button {
  margin-left: 0px;
  margin-top: 6px;
  padding-right: 0px;
  padding-left: 129px;
  margin-right: -38px;
} */
/* .dialog_note {
  padding-left: 1px;
  width: fit-content;
  margin: 0px 0px 0px 0px;
  height: fit-content;
} */
.noarchive_head {
  font-size: 140%;
  margin-top: 18px;
  color: grey;
  font-family: cursive;
  margin-left: -3px;
}
.notrash_head {
  font-size: 140%;
  margin-top: 11px;
  color: grey;
  font-family: cursive;
  margin-left: -20px;
}
.archive_notes {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-top: 45px;
}
.trash_notes {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-left: 62px;
  margin-top: 41px;
}
.delete_icon {
  font-size: 115px;
  margin-top: 100px;
  color: lightgrey;
  margin-left: -27px;
}
.empty_trash {
  color: "blue";
}
.color-align {
  width: "140px";
  height: "fit-content";
  display: "flex";
  flex-direction: "row";
  flex-wrap: "wrap";
}
#createLabel_toolbar {
  width: fit-content;
  margin: 0px 0px 0px 0px;
  height: fit-content;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input_createlabel {
  margin-top: 16px;
  margin-left: -27px;
}
.input_createlabelnote {
  margin-top: 16px;
  margin-left: -26px;
  margin-right: -1px;
}
.cancel_labeltext {
  margin-left: 10px;
}
.done_icon {
  margin-left: 27px;
  margin-top: -2px;
  margin-right: -42px;
}
#createlabel_field {
  min-height: 54px;
  margin-top: -13px;
  margin-bottom: -3px;
  display: flex;
  justify-content: space-between;
}
#toolbaricons {
  min-height: 59px;
  margin-top: -8px;
  margin-bottom: -1px;
  margin-left: 3px;
}
#createlabelnote_field {
  min-height: 58px;
  margin-top: -10px;
  margin-bottom: -3px;
  margin-right: -17px;
}
#style-inpbase {
  font-weight: bolder;
  color: #616161;
}
#inputbase {
  padding-top: 4.5%;
  font-weight: bolder;
  font-size: larger;
  width: fit-content;
  height: fit-content;
  padding-left: 6%;
  padding-bottom: 13%;
}
#inputBase_margin {
  margin-left: 3px;
}
/* .label_list_align {
} */
.chip-style {
  padding-right: 2px;
  padding-bottom: 3px;
}
#color-icon {
  margin: "2%";
}
.color-align {
  width: 140px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: hidden;
  padding-left: 37px;
  padding-bottom: 13px;
}
#simple-menu {
  width: 170px;
  height: auto;
}
#addlabel-menu {
  top: 215px;
  left: 673px;
}
#labelnote_menu {
  display: flex;
  flex-direction: column;
  margin-right: 115px;
  margin-top: 17px;
  margin-left: 18px;
  margin-bottom: 9px;
}
.checkbox_label {
  margin: -9px;
}
.labelname_field {
  margin-left: 7px;
  margin-top: 3px;
}
#display_labels {
  display: flex;
  flex-direction: row;
  /* width: fit-content; */
  height: auto;
  flex-wrap: wrap;
  margin-top: 12px;
}
.close_button_createnote {
  margin-left: "95px";
  margin-top: "-14px";
}
#dialog_tool {
  padding-right: 0px;
}
#outdiv_createnewlabel {
  display: flex;
  margin-left: 8px;
  margin-top: 7px;
}

#done_editlabels {
  display: flex;
  justify-content: flex-end;
}
#label_chip {
  display: flex;
  flex-direction: row;
  height: auto;
  width: fit-content;
  flex-wrap: wrap;
  margin-left: -6px;
}
