.creatcontainereNote- {
  margin-top: 101px;
  display: flex;
  margin-left: 400px;
}

.colorflex {
  display: flex;
}
#appbar-outerdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.search-align {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 3px;
  padding-top: 1px;
}
.pinunpin-align {
  padding-right: 7px;
  padding-top: 5px;
}
.title-heading {
  color: rgb(97, 97, 97);
  font-size: 23px;
  padding-top: 17px;
}
.img-logo {
  padding-top: 11px;
  width: 5%;
}
.shift-true {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  transition: 0.15s;
}
#card_decorapp {
  width: 700px;
  height: 50px;
  border-radius: 12px;
  background-color: #fafafa;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shift-false {
  display: flex;
  margin-left: 11%;
  flex-direction: column;
  transition: 0.15s;
}
.note-button {
  /* width: "50%"; */
  height: fit-content;
  display: flex;
  justify-content: center;
}
.note-buttonapp {
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  padding-top: 6px;
}
.create_note {
  height: auto;
}
.others_heading {
  margin-top: 5%;
  display: flex;
  justify-content: end;
  margin-left: 82px;
  font-size: 100%;
  font-weight: lighter;
  font-family: inherit;
  font-size: 20px;
  color: grey;
}
.others_heading_view {
  margin-top: 5%;
  display: flex;
  justify-content: end;
  margin-left: 25.5%;
  margin-bottom: 2%;
  font-size: 100%;
  font-weight: lighter;
  font-family: inherit;
  font-size: 20px;
  color: grey;
}
.pin_heading {
  margin-top: 5%;
  display: flex;
  justify-content: end;
  margin-left: 82px;
  font-size: 100%;
  font-weight: lighter;
  font-family: inherit;
  font-size: 20px;
  color: grey;
}
.pin_heading_view {
  margin-top: 5%;
  display: flex;
  justify-content: end;
  margin-left: 25.5%;
  margin-bottom: 2%;
  font-size: 100%;
  font-weight: lighter;
  font-family: inherit;
  font-size: 20px;
  color: grey;
}
.pin_notes {
  height: auto;
  display: flex;
  flex-wrap: wrap;

  margin-left: 40px;
}
.get_notes {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
}
/* .notes_align {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
} */
#note-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: -19px;
  margin-bottom: -4px;
}
#tooltip-style {
  margin: 5px;
}
.pin-align {
  padding-right: 12px;
  padding-top: 8px;
}
#pin-inputbase {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 17px;
}
#pin-inputbase-getnotes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 21px;
}
#card_decor2 {
  width: 280px;
  margin: 0px 0px 0px 0px;
  height: fit-content;
  margin: 2%;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#card_decor7 {
  width: 280px;
  margin: 0px 0px 0px 0px;
  height: fit-content;
}
.signout-button {
  border: 0px solid;
  border-radius: 8%;
  padding: 13px 27px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
.choose-file {
  padding-left: 32px;
  padding-top: 9px;
  padding-bottom: 9px;
}
.upload-file {
  padding-bottom: 9px;
  padding-left: 7px;
}
#edit-avatar {
  font-size: 3%;
}
#profile-toolbar {
  height: auto;
  width: 100%;
}
.signout-button-div {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
.profilepic-owner {
  display: flex;
  justify-content: center;
  padding-top: 18px;
  padding-bottom: 18px;
}
#profile-popover {
  margin-top: 49px;
  margin-left: 13px;
}
#close_button {
  display: flex;
  flex-direction: row;
  margin-left: 52%;
}
#inputbase-search {
  font-weight: bold;
  color: #616161;
  padding-left: 11px;
  padding-top: 14px;
  font-size: 18px;
}
.inputbase_appbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.inputbase_div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#getnote-dialog {
  border-radius: 6px;
}
#card_decor3 {
  width: fit-content;
  margin: 0px 0px 0px 0px;
  height: fit-content;
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#card_decor1 {
  width: 600px;
  margin: 0px 0px 0px 0px;
  height: 50px;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#card_decor4 {
  width: 600px;
  margin: 0px 0px 0px 0px;
  height: fit-content;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#card_decor5 {
  width: 600px;
  margin: 0px 0px 0px 0px;
  height: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* #card_decordialog {
 
} */
/* .pin_getnotes {
  margin-left: 0px;
  padding-left: 1px;
  margin-right: -43px;
  margin-top: -6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
} */
#card_decor6 {
  width: 600px;
  margin: 0px 0px 0px 0px;
  height: fit-content;
  border-radius: 12px;
  margin-left: 22.5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 3%;
}
.menu_getnotes {
  padding-left: 52px;
  margin-right: -49px;
}
#trash-icons-dialog {
  display: flex;
  width: 100%;
}
.div-trash-icons {
  width: 10%;
  display: flex;
  justify-content: flex-start;
}
#close_button_trash {
  display: flex;
  width: 80%;
  justify-content: flex-end;
}
/* .close_button {
  margin-left: 0px;
  margin-top: 6px;
  padding-right: 0px;
  padding-left: 129px;
  margin-right: -38px;
} */
/* .dialog_note {
  padding-left: 1px;
  width: fit-content;
  margin: 0px 0px 0px 0px;
  height: fit-content;
} */
.noarchive_head {
  font-size: 140%;
  margin-top: 18px;
  color: grey;
  font-family: cursive;
  margin-left: -3px;
}
.notrash_head {
  font-size: 140%;
  margin-top: 11px;
  color: grey;
  font-family: cursive;
  margin-left: -20px;
}
.archive_notes {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-top: 45px;
}
.trash_notes {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-left: 62px;
  margin-top: 41px;
}
.delete_icon {
  font-size: 115px;
  margin-top: 100px;
  color: lightgrey;
  margin-left: -27px;
}
.empty_trash {
  color: "blue";
}
#color-align {
  width: 140px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: hidden;
  padding-left: 9px;
}

/* #reminder-align {
  width: 200px;
  height: fit-content;
} */
#reminder-card {
  width: 240px;
  height: "fit-content";
}
.rem-save {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 18px;
}
#createLabel_toolbar {
  width: fit-content;
  margin: 0px 0px 0px 0px;
  height: fit-content;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input_createlabel {
  margin-top: 16px;
}
.input_createlabelnote {
  margin-top: 16px;
  margin-left: 2px;
}
.cancel_labeltext {
  margin-top: 10px;
}
.done_icon {
  margin-top: 6px;
}
#createlabel_field {
}
#editlist-labels {
  min-height: 54px;
  display: flex;
  margin-bottom: -18px;
}
#toolbariconsnote {
  min-height: 64px;
  margin-bottom: -6px;
  margin-left: 7px;
}
#toolbaricons {
  min-height: 64px;
  margin-bottom: -5px;
  margin-left: -17px;
}
#createlabelnote_field {
  min-height: 58px;
  margin-top: -10px;
  margin-bottom: -3px;
  margin-right: -17px;
}
#style-inpbase {
  font-weight: bolder;
  color: #616161;
}
#inputbase {
  padding-top: 4.5%;
  font-weight: bolder;
  font-size: larger;
  width: fit-content;
  height: fit-content;
  padding-left: 6%;
  padding-bottom: 13%;
}

/* .label_list_align {
} */
.chip-style {
  padding-right: 3px;
  padding-bottom: 3px;
}
.collab-style {
  padding-right: 3px;
  padding-bottom: 3px;
}
#color-icon {
  margin: "2%";
}
.color-align {
  width: 140px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: hidden;
  padding-left: 37px;
  padding-bottom: 13px;
}
#simple-menu {
  width: 170px;
  height: auto;
}
#addlabel-menu {
  top: 215px;
  left: 673px;
}
#labelnote_menu {
  display: flex;
  flex-direction: column;
  margin-right: 115px;
  margin-top: 17px;
  margin-left: 18px;
  margin-bottom: 9px;
}
.checkbox_label {
  margin: -9px;
}
.labelname_field {
  margin-left: 7px;
  margin-top: 3px;
}
#display_labels {
  display: flex;
  flex-direction: row;
  /* width: fit-content; */
  height: auto;
  flex-wrap: wrap;
  margin-top: 12px;
}
.close_button_createnote {
  margin-left: "95px";
  margin-top: "-14px";
}
#dialog_tool {
  padding-right: 0px;
}
#outdiv_createnewlabel {
  display: flex;
}

#done_editlabels {
  display: flex;
  justify-content: flex-end;
}
#label_chip {
  display: flex;
  flex-direction: row;
  height: auto;
  width: fit-content;
  flex-wrap: wrap;
  margin-left: -6px;
}
.collab-owner {
  display: flex;
  flex-direction: row;
  margin-top: -6px;
  margin-bottom: -6px;
}
.collab-new {
  display: flex;
  flex-direction: row;
  margin-top: -6px;
  margin-left: 19px;
}
#card_decor_collab {
  width: 600px;
  margin: 0px 0px 0px 0px;
  height: auto;
}
#toolbar-collab {
  min-height: 61px;
}
.collab-cancelsavebutton {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 11px;
  padding-right: 24px;
}
#trash-icons {
  display: flex;
  padding-left: -17px;
  margin-left: -18px;
}
#avatar {
  border-radius: 10;
  border-width: 4;
  border-color: "white";
  opacity: 0.9;
}
#refresh-icon {
  font-size: 30px;
}
.avatar-icon {
  padding-top: 6px;
  padding-right: -5px;
  padding-left: 7px;
}
